html{font-family: "Roboto", sans-serif}

body{background-color: lightgray;}

.content{margin-left:auto;
    margin-right:auto;
    margin-top: 16px;
    max-width:980px}

.grid{padding:0 8px}


.grid>.Ass1,.grid>.Ass3,.grid>.Ass4,.grid>.Ass5,.grid>.Ass6,.grid>.Ass7{padding: 8px}
.Ass1,.Ass3,.Ass4,.Ass5,.Ass6,.Ass7{float:left;width:100%}



.Abor{
    background-color: white;
    margin-bottom: 16px;
    padding: 16px;}
    
#work{
    padding: 2px;
    background-color: black;
    margin: 10px;}
    
.AInfo{
    margin-right: 16px;
    float: right;}

#work:hover{opacity:0.60}